// cut out corner from psd
body {
  padding-top: 60px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo {
    &-wrap {
      width: 175px;
      height: 21px;
      margin-right: 40px;

      @media (min-width: $sm-point) {
        margin-right: 30px;
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__sandbox {
    &-wrap {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      box-sizing: border-box;

      @media (min-width: $sm-point) {
        margin-right: 24px;
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid $green-gray;
    }
  }

  &__order {
    &-wrap {
      display: none;
      width: 205px;
      text-align: center;

      @media (min-width: $xl-point) {
        display: block;
      }
    }

    &-link {
      display: block;
      width: 205px;
      padding: 9px;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      border-radius: 5px;
      background-color: $green-gray;
    }
  }

  &__nav {
    background-color: #fff;

    &-wrap {
      // position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      // padding: 15px;
      box-sizing: border-box;
      background-color: #fff;

      @media (min-width: $lg-point) {
        position: static;
        width: auto;
        margin-left: auto;
      }

      @media (min-width: $xl-point) {
        margin-right: 20px;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: $lg-point) {
      }
    }

    &-item {
      position: relative;
      margin: 15px 30px 0px 0;

      @media (min-width: $lg-point) {
        margin-top: 0;
        margin-bottom: 0;
      }

      @media (min-width: $xl-point) {
        margin-right: 47px;
      }

      &.has-dropdown {
        margin-right: 26px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      font-size: 18px;
      color: #4d4d4d;

      &--drop {
        position: relative;
        padding-right: 20px;

        &::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 7px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }

    &-drop-wrap {
      position: absolute;
      z-index: 5;
      top: 19px;
      left: 0;
      padding-top: 15px;
    }

    &-drop-list {
      min-width: 226px;
      padding-right: 15px;
      padding-left: 15px;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        border: 10px solid transparent;
        border-bottom-color: #fff;
      }
    }

    &-drop-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &-drop-link {
      display: block;
      padding: 12px 0;
      font-size: 18px;
      color: #323232;
    }
  }

  &__menu-wrap {
    // display: none;
    margin-left: auto;

    @media (min-width: $lg-point) {
      display: none;
    }
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: #639b47;
  border-radius: 5px;

  &__stick {
    width: 26px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}