.services {
  padding-bottom: 40px;

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-heading {
      position: relative;
      background-color: $green-gray;
      padding: 18px 67px;
      cursor: pointer;

      @media (min-width: $md-point) {
        padding: 13px 90px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 33px;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;

        @media (min-width: $md-point) {
          left: 53px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 34px;
        height: 18px;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
      }
    }

    &-title {
      font-size: 20px;
      font-weight: 500;
      color: #fff;

      @media (min-width: $md-point) {
        font-size: 30px;
      }
    }

    &-main {
      padding-left: 22px;
      padding-bottom: 5px;

      @media (min-width: $md-point) {
        padding-left: 40px;
      }
    }
  }

  &__item-li {
    margin-top: 18px;
    color: #4d4d4d;
    line-height: 1.2;

    &-title {
      position: relative;
      font-size: 20px;
      font-weight: 500;

      &::before {
        content: "";
        position: absolute;
        left: -21px;
        top: 8px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $green-gray;
      }
    }

    &-value {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__also {
    display: none;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 300;
    color: #4d4d4d;
    text-align: center;

    @media (min-width: $sm-point) {
      display: block;
    }
  }
}