-
 var advItems = [
  {
    title: 'Профессионализм команды',
    value: 'Наши специалисты имеют многолетний опыт в создании и продвижении сайтов любой сложности.',
    dataAdv: 'prof'
  },
  {
    title: 'SEO оптимизация сайта',
    value: 'Вы получите сайт готовый к SEO продвижению в поисковых системах Яндекс и Google.',
    dataAdv: 'seo'
  },
  {
    title: 'Адаптивный сайт',
    value: 'Ваш сайт будет одинаково хорошо смотреться во всех браузерах и на всех устройствах',
    dataAdv: 'adapt'
  },
  {
    title: 'Удобная админ панель',
    value: 'После разработки проекта, Вы сможете самостоятельно вносить любые изменения на своём сайте.',
    dataAdv: 'admin'
  },
  {
    title: 'Быстрая загрузка сайта',
    value: 'При создании сайта мы его максимально оптимизируем, скорость загрузки сайта Вас приятно удивит.',
    dataAdv: 'speed'
  },
  {
    title: 'Защита от вирусов и взлома',
    value: 'Внедрим защиту: админ-панели, файловой системы и базы данных, от подбора паролей, ежедневное резервное копирование и многое другое.',
    dataAdv: 'safe'
  },
  {
    title: 'Уникальный дизайн',
    value: 'Мы следим за последними трендами в веб-дизайне и делаем современные сайты. Вы получите повышение конверсии и юзабилити сайта.',
    dataAdv: 'design'
  },
  {
    title: 'Доступные цены',
    value: 'Мы предлагаем качественное выполнение услуг по разумным ценам. Наш приоритет - долгосрочная работа с клиентами.',
    dataAdv: 'accessible'
  },
  {
    title: 'Создаём продающие сайты',
    value: 'Наша веб-студия создает сайты, которые успешно продают и становятся основным бизнесом наших клиентов.',
    dataAdv: 'sale'
  },
 ];

section.section.advant
  .wrapper.advant__wrapper
    .advant__heading
      .title.title--light Преимущества веб-студии PRO-SITE
    ul.advant__main
      each item in advItems
        li.advant__item
          .advant__item-main(data-advant=item.dataAdv)
            .advant__item-title=item.title
            .advant__item-value=item.value
    .advant__order-wrap.order__wrap
      a.order__link(href='#') Заказать форум



