-
 var items = [
   {
     url: 'portfolio-item-1.png'
   },
   {
     url: 'portfolio-item-2.png'
   },
   {
     url: 'portfolio-item-3.png'
   },
 ];

section.section.cover
  .wrapper.cover__wrapper
    .cover__heading
      h1.cover__heading-title.has-dash--light Создание сайта Форум
      p.cover__heading-description К разработке интернет форума у веб-студии PRO-SITE особый подход. Доверив нам разработку под ключ, Вы получите сайт форума с уникальным веб-дизайном, удобной административной панелью и базовой SEO-оптимизацией.

    .cover__portfolio-wrap
      .portfolio.carousel__wrap
        .portfolio__title-wrap
          span.portfolio__title Портфолио:
        .portfolio__main.carousel__inner
          .portfolio__items-wrap
            each item in items
              .portfolio__item
                img.portfolio__portfolio-img(src=`img/${item.url}`)
            each item in items
              .portfolio__item
                img.portfolio__portfolio-img(src=`img/${item.url}`)
          span.portfolio__control.portfolio__control--left#portfolio-left
            span.portfolio__control-icon
          span.portfolio__control.portfolio__control--right#portfolio-right
            span.portfolio__control-icon

    .order__wrap.cover__order-wrap
      a.order__link(href='#') Заказать форум