.section.examples
  .wrapper
    .examples__heading
      .exaples__title.title.title--dark Примеры форумов
    .examples__main
      ul.examples__list
        each item in ( new Array(6) )
          li.examples__item
            img.examples__item-img(src='img/example-fake.png')