-
 var items = [
  [
    {
      title: 'Админ панель для управления сайтом?',
      value: 'Админ панель для управления сайтом?',
    },
    {
      title: 'Какие сроки разработки сайта?',
      value: 'Время и срок разработки сайта будет указан в договоре. Минимальный срок разработки сайта 10 рабочих дней. В случае, если все-таки произойдет задержка при сдаче проекта, то наша компания несет штрафные санкции с финансовой ответственностью за каждый день просрочки сдачи сайта.',
    },
    {
      title: 'Техническое задание необходимо?',
      value: 'Техническое задание необходимо?',
    },
    {
      title: 'Что такое бриф и зачем он нужен?',
      value: 'Что такое бриф и зачем он нужен?',
    },
  ],
  [
    {
      title: 'Безналичный расчет через банковский счет?',
      value: 'Безналичный расчет через банковский счет?',
    },
    {
      title: 'Какая CMS будет использоваться при разработке?',
      value: 'Какая CMS будет использоваться при разработке?',
    },
    {
      title: 'Дизайн будет нарисован с нуля?',
      value: 'Дизайн будет нарисован с нуля?',
    },
    {
      title: 'Поддержка сайта и дальнейшая раскрутка?',
      value: 'Поддержка сайта и дальнейшая раскрутка?',
    },
  ],
 ];


section.section.faq
  .wrapper
    .faq__heading
      .title.title--dark Ответы на популярные вопросы
    .faq__main
      each part in items
        ul.faq__part
          each item in part
            li.faq__item
              .faq__item-heading.js-dropdown-click-handler(data-dropdown-parent='.faq__item')
                span.faq__item-title=item.title
              .faq__item-main
                .faq__item-value=item.value
