-
 var items = [
  {
    title: 'Вы заполняете бриф',
    value: 'на основании которого мы сможем разработать Ваш форум',
    dataHow: 'breef',
  },
  {
    title: 'Мы изучаем ваш бизнес',
    value: 'целевую аудиторию, конкурентов, Ваши товары и услуги, поисковые запросы',
    dataHow: 'business',
  },
  {
    title: 'Создаем прототип форума',
    value: 'для дальнейшего согласования дизайна и текстового наполнения',
    dataHow: 'proto',
  },
  {
    title: 'Разрабатываем дизайн',
    value: 'форума, графически оформляем продающую структуру под Ваши задачи и пожелания',
    dataHow: 'design',
  },
  {
    title: 'Разрабатываем техническое задание',
    value: 'в случае заказа индивидуальных работ',
    dataHow: 'tech-task',
  },
  {
    title: 'Верстаем и программируем',
    value: 'сайт форума, на основании согласованного дизайна и Ваших требований',
    dataHow: 'prog',
  },
  {
    title: 'Наполняем сайт',
    value: 'предоставленным Вами контентом до 10 страниц сайта',
    dataHow: 'fill',
  },
  {
    title: 'Настраиваем систему аналитики',
    value: 'которая позволит отслеживать посещения сайта, источники траффика, а главное эффективность того или иного рекламного канала',
    dataHow: 'analitic',
  },
  {
    title: 'Утверждаем работу',
    value: 'и переносим на основной хостинг',
    dataHow: 'finish',
  },
 ];

.section.how
  .wrapper
    .how__heading
      .title.title--dark Как происходит работа
    .how__main
      ul.how__items-list
        each item, index in items
          li.how__item(data-how=item.dataHow)
            .how__item-count-wrap
              .how__item-count=index+1
            .how__item-title=item.title
            .how__item-value=item.value

