-
 var items = [
  {
    title: 'Интернет - маркетолог',
    value: 'создаст маркетинговую концепцию Вашего интернет форума, на основании исследований конкурентов, поисковых запросов пользователей, обсуждений в социальных сетях и т.д.',
    dataPeople: 'market',
  },
  {
    title: 'Специалист по продвижению',
    value: 'проанализирует поисковые запросы Ваших будущих посетителей, составит семантическое ядро и разработает рекомендации, которые необходимо будет внедрить еще на этапе создания форума для ускоренного и безопасного продвижения в поисковых системах.',
    dataPeople: 'promote',
  },
  {
    title: 'Дизайнер',
    value: 'на основании Ваших пожеланий, маркетинговой концепции и основ юзабилити - разработает дизайн для Вашего форума, который будет не только «радовать глаз», но и привлекать больше посетителей.',
    dataPeople: 'market',
  },
  {
    title: 'Программист-верстальщик',
    value: ' это специалист, который создаст из дизайн-макета полноценный сайт форума, адаптированный под мобильные устройства, с работающими кнопками и удобной административной панелью для редактирования контента на сайте.',
    dataPeople: 'frontend',
  },
  {
    title: 'Backend - программист',
    value: 'подключит административную панель, благодаря которой вы легко сможете управлять Вашим форумом, разработает и подключит скрипты и модули необходимые для Вашего сайта, а также подключит популярный платежный агрегатор.',
    dataPeople: 'backend',
  },
  {
    title: 'Менеджер проекта',
    value: 'его задача контролировать процесс разработки форума в соответствии с Вашими требованиями и пожеланиями, а также вести все организационные моменты в процессе сотрудничества.',
    dataPeople: 'manage',
  },
 ];

.people.section
  .wrapper
    .people__heading
      .title.title--dark Количество сотрудников
      .people__title-descr участвующих при разработке Вашего форума
    .people__main
      ul.people__items-list
        each item in items
          li.people__item(data-people=item.dataPeople)
            .people__item-title=item.title
            .people__item-value=item.value
