-
 var servicesItems = [
  {
    title: 'Основное',
    dataService: 'main',
    drop: [
      {
        title: 'Уникальный дизайн сайта',
        value: 'Разрабатывается профессиональным дизайнером по Вашим требованиям и пожеланиям.'
      },
      {
        title: 'Адаптивный сайт',
        value: 'Адаптивная верстка – создадим мобильную, планшетную и полноформатную версии страниц сайта.'
      },
      {
        title: 'Удобная административния панель',
        value: 'После разработки проекта, Вы сможете самостоятельно вносить любые изменения на форуме.'
      },
      {
        title: 'Неограниченное количество страниц',
        value: 'Ваш форум не будет иметь ограничений по количеству страниц и Вы сможете всегда расширять и дополнять контент.'
      },
      {
        title: 'Базовое наполнение сайта',
        value: 'В среднем состоит из 5-10 страниц сайта.'
      },
      {
        title: 'Быстрая загрузка сайта',
        value: 'При создании сайта мы его максимально оптимизируем, скорость загрузки сайта Вас приятно удивит.'
      },
      {
        title: 'Домен и хостинг в подарок',
        value: 'Подарим хостинг на 30 дней и домен на 1 год.'
      },
      {
        title: 'Почта на Вашем домене',
        value: 'Мы настроим почту на Вашем домене, и Вы самостоятельно сможете добавлять и администрировать почтовые ящики.'
      },
      {
        title: 'Форма обратной связи',
        value: 'Позволяет пользователям отправлять Вам сообщения с сайта, тем самым Вы можете оказывать поддержку пользователей.'
      },
      {
        title: 'Предоставляем инструкцию',
        value: 'Которая позволит Вам и Вашим сотрудникам без труда разобраться в управлении форумом.'
      },
    ],
  },
  {
    title: 'Функционал сайта',
    dataService: 'functions',
    drop: [
      {
        title: 'Внедрение перехода в группы',
        value: 'Позволяет разместить на сайте иконки социальных сетей Facebook, Вконтакте, Google +1, Twitter с переходом в группы.'
      },
      {
        title: 'Интеграция Like социальных сетей',
        value: 'Позволяет разместить на сайте Like социальных сетей Facebook, Вконтакте, Google +1.'
      },
      {
        title: 'Интеграция групп социальных сетей',
        value: 'Позволяет разместить на сайте виджеты групп социальных сетей Facebook, Вконтакте.'
      },
      {
        title: 'Кросспостинг',
        value: 'Позволяет публиковать записи из новостной ленты сайта в аккаунтах Вконтакте, Facebook, Twitter и т.д.'
      },
    ]
  },
  {
    title: 'Социальная подготовка',
    dataService: 'social',
    drop: [
      {
        title: 'Внедрение перехода в группы',
        value: 'Позволяет разместить на сайте иконки социальных сетей Facebook, Вконтакте, Google +1, Twitter с переходом в группы.'
      },
      {
        title: 'Интеграция Like социальных сетей',
        value: 'Позволяет разместить на сайте Like социальных сетей Facebook, Вконтакте, Google +1.'
      },
      {
        title: 'Интеграция групп социальных сетей',
        value: 'Позволяет разместить на сайте виджеты групп социальных сетей Facebook, Вконтакте.'
      },
      {
        title: 'Кросспостинг',
        value: 'Позволяет публиковать записи из новостной ленты сайта в аккаунтах Вконтакте, Facebook, Twitter и т.д.'
      },
    ]
  },
  {
    title: 'Подготовка к раскрутке',
    dataService: 'increase',
    drop: [
      {
        title: 'Установка ЧПУ адресов страниц.',
        value: 'Делает ссылки сайта короткими и понятными для людей, а так же позволяет поисковыми машинами Google, Яндекс распознавать содержимое страниц сайта по URL.'
      },
      {
        title: 'Создание Sitemap',
        value: 'Создание XML-карты сайта для более быстрой работы с поисковыми машинами Яндекс и Google.'
      },
      {
        title: 'SSL сертификат в подарок',
        value: 'Это вызовет большее доверие посетителей Вашего сайта и очень хорошо скажется на SEO продвижении'
      },
      {
        title: 'Добавление в Яндекс и Google',
        value: 'Добавление страниц сайта в индекс самых популярных поисковиков Яндекс и Google.'
      },
      {
        title: 'Добавление текстов для SEO продвижения',
        value: 'Вы сможете добавлять тексты на любые типы страниц для успешного SEO продвижения: категории, подкатегории, страницы производителей, товарные карточки, страницы фильтров.'
      },
      {
        title: 'Составим семантическое ядро',
        value: 'до 400 ключевых слов с группировкой и ручной чисткой от пустышек'
      },
      {
        title: 'Заполним метатеги Description и Title',
        value: 'до 10 страниц ключевыми запросами, чтобы из поиска вскоре получать посетителей'
      },
      {
        title: 'Подключение систем аналитики',
        value: 'Яндекс метрика и Google Analytics. Это позволит видеть посещаемость и поведение Ваших посетителей сайта.'
      },
      {
        title: 'Адаптированный сайт к SEO продвижению',
        value: 'Вы получите сайт готовый к SEO продвижению в поисковых системах Яндекс и Google.'
      },
    ]
  },
  {
    title: 'Безопасность',
    dataService: 'safety',
    drop: [
      {
        title: 'Автоматическое резервное копирование сайта',
        value: 'Позволяет настроить систему по созданию ежедневных копий сайта.'
      },
      {
        title: 'Шифрование адреса области администратора',
        value: 'Позволяет скрыть адрес в области администратора сайта для защиты от систем автоматического подбора паролей.'
      },
      {
        title: 'Защита от взлома и вирусов',
        value: 'Внедрим защиту от общеизвестных атак, файловой системы и базы данных, от вирусов, защиту по ip и т.д.'
      },
    ]
  },
 ];

.section.services
  .wrapper
    .services__heading
      h2.title.title--dark Что Вы сможете получить заказав создание сайта форума в веб-студии PRO-SITE?
    ul.services__main
      each item in servicesItems
        li.services__item(data-service=item.dataService data-drop-parent='true')
          .services__item-heading
            h3.services__item-title(data-drop-owner)=item.title
          .services__item-main
            ul.services__item-list
              each dropItem in item.drop
                li.services__item-li
                  .services__item-li-title=dropItem.title
                  .services__item-li-value=dropItem.value
    .services__also Кроме этого можем разработать любые функции для Вашего сайта.


