section.section.why.bot-line
  .wrapper
    .why__heading
      h2.why__title.title.title--dark Почему выбирают веб-агентство PRO-SITE?
    .why__main
      .why__content-wrap
        .why__texts-wrap
          p.why__text.text Мы создаём сайты оптимизированные под продажи и поиск в Yandex и Google. Основным направлением нашей студии является создание не просто красивых сайтов, а производство продукта готового приносить прибыль.
          p.why__text.text Что это означает? Мы создаем сайты с учетом маркетинговой концепции, основ юзабилити, уникального дизайна, SEO оптимизации и требований поисковых систем Yandex и Google. После сдачи проекта Вы сразу же сможете перейти к этапу продвижения Вашего сайта.
          p.why__text.text Мы не просто сделаем отличный сайт под ключ с уникальным дизайном,
          p.why__text.text а сильный продающий продукт изначально подготовленный к продвижению и раскрутке в интернете.
          p.why__text.text Другими словами, Вы не будете терять время, а сразу с нашей помощью начнете получать целевой трафик на сайт, а с ним заказы и звонки.
          p.why__text.text У нас очень удобно, все услуги в одном месте — Создание сайта, SEO продвижение, Контекстная реклама в Yandex Direct и Google Adwords, Баннерная реклама в РСЯ и КМС, Уникальный дизайн и многое другое.
          strong.why__conclusion И всё это в одной студии — PRO-SITE.
        .why__button-wrap
          .why__button.button--md Скачать бриф

      .why__picture-wrap
        img.why__img.section__img(src='img/why-picture.png' alt='Site example')

