<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/index.css")
  body
    include includes/header.pug
    include includes/cover-section.pug
    include includes/forum-section.pug
    include includes/services-section.pug
    include includes/advantage-section.pug
    include includes/examples-section.pug
    include includes/comments-section.pug
    include includes/why-section.pug
    include includes/rate-section.pug
    include includes/people-section.pug
    include includes/how-section.pug
    include includes/guarant-section.pug
    include includes/faq-section.pug
    include includes/connect-section.pug
    include includes/footer.pug

    script(src="js/index.js")
    script(src="js/siema.min.js")