.features {

  &__wrapper {
    display: flex;

    @media screen and (max-width: $lg-point) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: $sm-point) {
       
    }
  }

  &__photo-wrap {
    width: 50%;

    @media screen and (max-width: $lg-point) {
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    position: relative;
    right: 50px;

    @media screen and (max-width: $lg-point) {
      width: 80%;
      right: 10px;
    }
  }

  &__content-wrap {
    width: 50%;
    padding-top: 52px;
    padding-left: 10px;

    @media screen and (max-width: $lg-point) {
      width: 100%;
      padding-top: 24px;
      padding-left: 0;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.26px;
    text-transform: uppercase;

    @media screen and (max-width: $sm-point) {
       font-size: 18px;
    }
  }

  &__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(50% - 4px);
    margin-bottom: 34px;

    @media screen and (max-width: $sm-point) {
       width: 100%;
       margin-bottom: 21px;
    }

    &-title {
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.18px;
      color: #fff;

      @media screen and (max-width: $sm-point) {
         font-size: 14px;
      }
    }

    &-value {
      font-size: 14px;
      font-weight: 600;
      color: #f34632;

      @media screen and (max-width: $sm-point) {
         font-size: 16px;
      }
    }
  }

}