.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $lg-point) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.bot-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: $green-gray;
}

.button--sm {
  @extend .button;
  max-width: 192px;
}

.button--md {
  @extend .button;
  max-width: 280px;
}

.button--lg {
  @extend .button;
  max-width: 355px;
  padding: 9px;
}

.has-dash {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 7px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.has-dash--dark {
  @extend .has-dash;

  &::after {
    background-image: url('../img/line-dark.png');
    opasity: 0.5;
  }
}

.has-dash--light {
  @extend .has-dash;

  &::after {
    background-image: url('../img/line-light.png');
    opacity: 0.2;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;

  @media (min-width: $lg-point) {
    margin-bottom: 60px;
    font-size: 40px;
  }

  &--dark {
    @extend .has-dash--dark;
    color: #191919;
  }

  &--light {
    @extend .has-dash--light;
    color: #fff;
  }
}

.text {
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 300;
  line-height: (22/18);
  color: #4d4d4d;
}

.order {
  &__link {
    display: block;
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: $green-gray;
    border-radius: 5px;
  }
}

.section__img {
  width: 100%;
}

.carousel {
  &__wrap,
  &__inner {
    overflow-x: hidden;
  }
}

.flex-adaptive {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $lg-point) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}