.section {
}

.wrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $wrapper-gutter;

  @media (min-width: $sm-point) {
    max-width: $sm-width;
  }

  @media (min-width: $md-point) {
    max-width: $md-width;
  }

  @media (min-width: $lg-point) {
    max-width: $lg-width;
  }
}