.slogan {
  color: #fff;
  text-align: center;

  &__title {
    padding-top: 18px;
    padding-bottom: 23px;
    font-size: 36px;
    font-weight: 900;
    line-height: (44/36);
    text-transform: uppercase;
    letter-spacing: 0.36px;

    @media screen and (max-width: $sm-point) {
      padding-bottom: 15px;
      font-size: 19px;
    }
  }
}