.header__nav {
  &-link {
    &:hover {
      color: $green-gray;
      text-decoration: underline;
    }
  }
}

.header__nav-drop-list {
  display: none;
}

.header__nav-item.has-dropdown:hover {
  .header__nav-drop-list {
    display: block;
  }

  .header__nav-link {
    color: $green-gray;
  }
}

.services__item {
  &-main {
    display: none;
  }

  &.opened {
    .services__item {
      &-heading {
        background-color: #e6e6e6;
      }

      &-title {
        color: #000;
      }

      &-main {
        display: block;
      }
    }
  }
}